/* common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #32495b;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Nunito Sans', sans-serif; 
}

.text-white {
    color:white;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.float-left {
    float:left
}
.float-right {
    float:right;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

.btn {
    background-color: white;
    text-decoration: none;
    color: #fe775a;
    border: 2px solid #fe775a;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.btn:hover {
    background-color: rgba(254, 119, 90, .2);
}


.orange-btn {
    color: white;
    background-color: #fe775a;
    border: 2px solid #fe775a;
}
.orange-btn:hover {
    background-color: rgba(254, 119, 90, .5)
}

.large-btn {
    padding: 16px 34px;
    font-size: 12px;
}

.high-margin {
    margin: 40px 0;
    line-height: 1.7;
}

.text {
    font-size: 14px;
}

.check {
    color: #fe775a;
}

.check-list {
    list-style: none;
}
.check-list i {
    margin-right: 10px;
}

.w-30 {
    width: calc(30% - 100px);
    margin-top: 60px;
    margin-left: 100px;
}

.w-70 {
    margin-top: 60px;
    width: 70%;
}

.w-60 {
    width: calc(60% - 1px);
    margin-top: 60px;
}

.w-40 {
    width: calc( 40% - 1px);
}

.w-50 {
    width: 50%;
}

.inline-menu {
    list-style: none;
}

.inline-menu > li {
    display: inline-block;
    margin: 0 10px;
}

.small-text {
    font-size: 12px;
    margin-top: 40px;
}

/* header */

.fixed-bar {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 75px;
    line-height: 75px;
    background-color: #f4f9fd;
    border-bottom: 2px solid #32495b;
}

.fixed-bar  a {
    margin: 0 15px;
}


.fixed-bar i:last-of-type {
    padding-right: 15px;
    border-right: 2px solid #32495b;
}
.fixed-bar p:last-of-type {
    padding-left: 15px;
}

#search {
    height: 15px;
    cursor:pointer
}

.fixed-bar .btn {
    margin: 0 10px;
}

.nav {
    padding-top: 100px;
    height: 150px;
    background-color: white;
}

.inline-menu a {
    text-decoration: none;
    font-weight: 600;
}

.nav a {
    word-spacing: 10px;
}

.inline-menu > a:first-child {
    margin-left: 0;
}

.inline-menu > li:first-child {
    margin-left: 0;
}

.jumbotron {
    position: relative;
    height: 650px;
    background-color: #fff2ee;
    background-image: url('../img/jumbotron.png');
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat ;
    padding-top: 50px;

}

#jumb-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #afebe4;
    border-top: 3px solid #32495b;
    border-bottom: 3px solid #32495b;

}

#jumb-text {
    width: 48%;
}

h1 {
    font-size: 48px;
    line-height: 1;
}



/* main */

.bg-grey {
    background-color: #f4f9fd;
}

#power-cube {
    width: 50%;
    margin: auto;
    text-align: center;
}

#power-cube p {
    margin-top: 20px;
}

#cube {
    margin-top: 75px;
    height: 160px;
}

.white-bg {
    background-color: white;
    box-shadow: 0 0 10px lightgray;
    border-radius: 10px;
}

#book {
    height: 100px;
    margin-bottom: 30px;
}


h3 {
    font-size: 24px;
    margin-bottom: 25px;
} 

.CRM  p {
    margin-bottom: 15px;
}

h4{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.inline-hr {
    display: inline-block;
    width: 60%;
    margin-left: 50px;
    margin-bottom: 5px;
}

.col-3 {
    width: calc( 33.3% - 33px);
    height: 600px;
    margin: 50px 50px 50px 0;
    /* margin-right: 50px; */
}

.service-hub {
    margin-right: 0px;
}

.up {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 55%;

}
.up img {
    height: 95px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator {
    margin: 30px 30px;
}

.down {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 45%;
}

.down ul {
    text-align: left;
    margin-bottom: 50px;
}



#gradient {
    text-align: center;
    /* height: 600px; */
    background-image: linear-gradient(to right,#00a8b9, #00bca5);
}

.white-text{
    color: white;
}

#learn  h2 {
    padding-top: 50px;
}

#learn p {
    margin: 20px 0;
    line-height: 1.8;
}

.table {
    width: 100%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.table  .text {
    font-size: 10px;
}

.table img {
    height: 30px;
}

.table h2 {
    font-weight: 800;
}

.row-1  div{
    height: 150px;
    width: 25%;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 20px;
}

.row-1 div:last-child {
    border-right: none;
}

.row-2 div {
    height: 150px;
    width: 25%;
    border-right: 1px solid white;
    padding-top: 20px;
}


.row-2 div:last-child {
    border-right: none;
}



#catcher {
    /* height: 600px; */
    width: 100%;
    background-color: #ffffff;
}

.clients {
    margin-bottom: 65px;
}

.clients h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}

.clients .w-30 {
    margin-left: 50px;
}


.clients img {
    width: 20%;
    line-height: 100px;
    vertical-align: middle;
    margin: 10px
}


#grow  img {
    width: 70%;
}

#grow h2 {
    font-weight: 800;
    letter-spacing: -1px;
}

#grow p {
    margin: 50px 0;
}


/* footer */

footer {
    background-color: #32495b;
}

footer ul {
    list-style: none;
}

.lenguages {
    text-align: center;
    margin: 15px 0;
}

.list-title {
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 25px;
}

footer a {
    text-decoration: none;
}

footer li {
    margin: 10px 0;
}

footer * {
    color: white;
}

.col-4 {
    width: calc( 25% - 10px);
    /* height: 500px; */
    margin: 0 5px;
}

.footer-btn {
    color: #32495b;
    border: #32495b;
}

#free-tools {
    margin-bottom: 30px;
}

#icon-list {
    margin-top: 20px;
    margin-bottom: 50px;
}

.copyright {
    margin-top: 30px;
    padding-bottom: 30px;
}

.copyright a:first-child {
    margin-right: 15px;
}